
<div class="row">
        <div class="col-12">
                <div class="footer-text">
                <p>© Passport to Lifetime Fitness. For assistance, email 
                        <a href="mailto:example@example.com?Subject=Assistance%20requested" target="_top">example@example.com</a>
                </p>
                </div>
        </div>
</div>

<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
<script src="../script.js"></script>



