    
    <container class="schools-container">
        <div class="row">
            <div class="col-6">
                <form class="schoolform" action="/profile/addschool" method="post">
                    School: <input type="text" name="school" id="school">
                    <input type="submit" value="Add School">
                </form>
                <br>
                <ul class="schoollist">
                    <% for(var j=0; j < schools.length; j++) { %>
                    <li data-schoolid="<%= schools[j]._id %>">
                        School: <%= schools[j].school %>
                        <button class="deleteschool" aria-label="This deletes the school.">Remove</button>
                    </li>
                    <% } %>
                </ul>
            </div>

            <div class="col-6">
                <form class="activityform" action="/profile/addactivity" method="post">
                    Activity: <input type="text" name="activity" id="activity">
                    <input type="submit" value="Add Activity">
                </form>
                  <br>
                  <ul class="activitylist">
                    <% for(var z=0; z < activities.length; z++) { %>
                    <li data-activityid="<%= activities[z]._id %>">
                        Activity: <%= activities[z].activity %>
                        <button class="deleteactivity" aria-label="This deletes the activity.">Remove</button>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </container>
    