    
    <container class="schools-container">
        <div class="row">
            <div class="col-6">
        <form class="schoolform" action="/profile/addschool" method="post">
            School: <input type="text" name="school">
            <input type="submit" value="Add School">
          </form>
          <br>
          <% for(var j=0; j < schools.length; j++) { %>
           <ul class="schoollist" data-schoolid="<%= schools[j]._id %>">
            <li>
            School: <%= schools[j].school %>
            </li>
            <button class="deleteschool" aria-label="This deletes the school.">Remove</button>
            
            </ul>
            <% } %>
        </div>

        <div class="col-6">
                <form class="activityform" action="/profile/addactivity" method="post">
                    Activity: <input type="text" name="activity" id="activity">
                    <input type="submit" value="Add Activity">
                  </form>
                  <br>
                  <ul class="activitylist">
                  <% for(var j=0; j < activities.length; j++) { %>
                   <li data-activityid="<%= activities[j]._id %>">
                    Activity: <%= activities[j].activity %>
                    <button class="deleteactivity" aria-label="This deletes the activity.">Remove</button>
                    </li>
                    
                    <% } %>
                </ul>
                </div>
        </div>
    </container>
    