
<header>
        <div class="row">
                <div class="col-12">
                        <h1>
                            <span class="fa fa-heart-o"></span> 
                            <a href="/index">Passport to Lifetime Fitness</a>
                        </h1>
                </div>
        </div>
</header>