<meta charset="utf-8">

<script src="https://d3js.org/d3.v3.min.js"></script>
<link href="styles/piechart.css" rel="stylesheet" type="text/css"/>
<div class="pie-card">
<div class="parsing-buttons">  
    <button class="toggledata" data-type="activitylist">Activity</button>
    <button class="toggledata buttons-basic" data-type="presession">Pre-Session</button>
    <button class="toggledata buttons-basic" data-type="health">Health</button>
    <button class="toggledata buttons-basic" data-type="postsession">Post-Session</button>
    <button class="toggledata buttons-basic" data-type="approved">Approved</button>
</div>
<div class="pie_container">
    <div id="tooltip">
        <p>
        </p>
        <p><span id="value">100</span></p>
    </div>    
  <div id="graph">
    <!-- <li> <%= data %> </li> -->
    <script>
       
        var visitData = <%- JSON.stringify(data) %> 
        const tempData=visitData    
     </script>
</div>
</div>  
  <div id="adjust">
    Duration  <input type="textbox" id="duration"  value="500"> in milliseconds
    <br>
    <button class="randomize">New Data</button> 
    
  </div>
</div>
<script src="../piechart.js"></script>