<!doctype html>
<html>
<head>
        <% include includes/head.ejs %>				
</head>

<body>
<header>
        <% include includes/header.ejs %>
</header>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-heart-o"></span> Passport to Lifetime Fitness</h1>
        <a href="/login" class="buttons-basic"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="buttons-basic"><span class="fa fa-user"></span> Signup</a>
        
    </div>

    <footer>
            <% include includes/footer.ejs %>      
        
    </footer>

</div>
</body>
</html>
