<!doctype html>
<html>
<head>
        <% include includes/head.ejs %>				
</head>

<body>
<header>
        <% include includes/header.ejs %>
</header>
<div class="row">
        <div class="col-12">
                <div class="landingtext">
                        <p>
                                Welcome message - holding place.
                        </p>
                </div>
        </div>        
</div>

<div class="row">
        <div class="col-4">
                        <div class="card">
                                        <img class="landimg" src="img/bball.jpg" alt="Picture of a basketball">
                                        <div class="overlay">
                                                <div class="overlaytext">
                                                <span>Holding message</span>
                                                </div><!-- end overlaytext -->
                                        </div><!-- end overlay -->
                        </div><!-- end card -->
        </div>
        <div class="col-4">
                <a href="/login">
                        <div class="card">
                                <div class="button-container">
                                    <p>Login</p>    
                                </div>       
                        </div>
                </a>
        </div>
        <div class="col-4">
                        <div class="card">
                                        <img class="landimg" src="img/yoga.jpeg" alt="Picture of woman practicing yoga.">
                                        <div class="overlay">
                                                <div class="overlaytext">
                                                <span>Holding message</span>
                                                </div><!-- end overlaytext -->
                                        </div><!-- end overlay -->
                        </div><!-- end card -->
        </div>
</div>

<div class="row">
                <div class="col-4">
                                <div class="card">
                                                <img class="landimg" src="img/bball.jpg" alt="Picture of a basketball">
                                                <div class="overlay">
                                                        <div class="overlaytext">
                                                        <span>Holding message</span>
                                                        </div><!-- end overlaytext -->
                                                </div><!-- end overlay -->
                                </div><!-- end card -->
                </div>
                <div class="col-4">
                        
                                <div class="card">
                                        <div class="button-container">
                                            <p>Milwaukee Public Schools</p>    
                                        </div>       
                                </div>
                        
                </div>
                <div class="col-4">
                                <div class="card">
                                                <img class="landimg" src="img/yoga.jpeg" alt="Picture of woman practicing yoga.">
                                                <div class="overlay">
                                                        <div class="overlaytext">
                                                        <span>Holding message</span>
                                                        </div><!-- end overlaytext -->
                                                </div><!-- end overlay -->
                                </div><!-- end card -->
                </div>
        </div>

<div class="row">
                <div class="col-4">
                                <div class="card">
                                                <img class="landimg" src="img/pool.jpeg" alt="Picture of a swimming pool.">
                                                <div class="overlay">
                                                        <div class="overlaytext">
                                                        <span>Holding message</span>
                                                        </div><!-- end overlaytext -->
                                                </div><!-- end overlay -->
                                </div><!-- end card -->
                </div>
                <div class="col-4">
                        <a href="/signup">
                                <div class="card">
                                        <div class="button-container">
                                                <p>Signup</p>
                                        </div>       
                                </div>
                        </a>
                </div>
                <div class="col-4">
                                <div class="card">
                                                <img class="landimg" src="img/martialarts.jpg" alt="Picture of woman practicing yoga.">
                                                <div class="overlay">
                                                        <div class="overlaytext">
                                                        <span>Holding message</span>
                                                        </div><!-- end overlaytext -->
                                                </div><!-- end overlay -->
                                </div><!-- end card -->
                </div>
        </div>

    <footer>
            <% include includes/footer.ejs %>      
        
    </footer>

</div>
</body>
</html>
