<!doctype html>
<html>

<head>
    <% include includes/head.ejs %>
</head>

<body>
    <header>
        <% include includes/header.ejs %>
    </header>
    <div class="row">
        <div class="col-12">
            <div class="login-container">
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>

                        <!-- LOGIN FORM -->
                        For the teacher view, username: teacher@demo.com & password: teacherdemo<br>
                        For the student view, username: student@demo.com & password: studentdemo
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" align="right" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="login" aria-label="This is a login button.">Login</button>
                            </div>

                        </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>

            <p>
                <a href="/signup">Signup</a> if you need an account. Or go
                <a href="/">home</a>.
            </p>

        </div>
    </div>


    </div>
    </div>
    <footer>
        <% include includes/footer.ejs %>
    </footer>
</body>

</html>