<html>
  <head>
    <title>password reset example</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body>
    <form method="POST" action="/forgot">
      <input type="text" name="email" value="you@example.com">
      <input type="submit" value="forgot password">
    </form>
  </body>
</html>