<!doctype html>
<html>

<head>
        <% include includes/head.ejs %>
</head>

<body>
        <header>
                <% include includes/header.ejs %>
        </header>
    <div class="container">
        <div class="page-header text-center">
            <a href="/submitform" class="btn btn-default btn-sm">Add Visit</a>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/password" class="btn btn-default btn-sm">Change Password</a>
        </div>

        <div class="row tab-container">

            <h3>
                <%= user.admin %>
            </h3>


            <% if (user) { %>
                <p>
                    <strong>First Name</strong>:
                    <%= user.firstname %>
                        <br>
                        <strong>Last Name</strong>:
                        <%= user.lastname %>
                            <br>
                            <strong>Email</strong>:
                            <%= user.local.email %>
                                <br>
                </p>
                <% if (visits) { %>
                    <% data= JSON.stringify(visits) %>
                    <% include includes/piechart.ejs %>
               <% } %>
                <% } %>

                <div class="w3-bar w3-black">
                        <button class="w3-bar-item w3-button" onclick="openCity('London')">User Admin</button>
                        <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Visit Admin</button>
                        <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Form Admin</button>
                </div>

                <div id="London" class="city">
                        <h2>User Admin</h2>
                        <p>London is the capital of England.</p>
                        <% include includes/useradmin.ejs %>
                      </div>
                      
                      <div id="Paris" class="city" style="display:none">
                        <h2>Visit Admin</h2>
                        <p>Paris is the capital of France.</p> 
                        <% include includes/visitadmin.ejs %>
                      </div>
                      
                      <div id="Tokyo" class="city" style="display:none">
                        <h2>Form Admin</h2>
                        <p>Tokyo is the capital of Japan.</p>
                      </div>
        </div>
    <footer>
                <% include includes/footer.ejs %>            
    </footer>
    </body>

</html>