<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/header.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">

        
            <% if (visit) { %>
                <div><%= `${visit.activitylist} ${visit.userid}`%>
                </div>
                <div>
                    <button class="approve">Approve</button>
                </div>
                <div class="notification">
                    Approved!
                </div>
            <% } %>
    </div>
    <footer>
            <% include includes/footer.ejs %>
        
    </footer>
</body>
</html>