* {
    box-sizing: border-box;
  }

  .header {
    background-color: #008CBA;
    margin-bottom: 40px;
    padding-bottom: 20px;
    /*padding-top: 20px;*/
    text-align: center;
    /*border:1px solid black;*/
    color: white;
    vertical-align: middle;
  }

  .notification {
    transition: all .5s;
    opacity: 0;
  }

  .approved {
    opacity: 1;
    background-color: green;
    padding: 10px;
  }

  .hide {
    display:none;
  }

  .modify-user {
    border: 1px solid black;   
  }