* {
    box-sizing: border-box;
  }
  #wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }


.card {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  position: relative;
  height:200px;
  overflow: hidden;
  vertical-align: center;
}

.landingtext {
  display:flex;
  width: 100%;
  max-width: none;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color:#999999;
  padding: 10px;
}

.landimg {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.50);
}

.card:hover .overlay {
  opacity: 1;
}

.overlaytext p {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; 
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlaytext span {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; 
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  
.tab-container {
  padding-bottom: 100px;
}

 .userlist {
   list-style: none;
   color: black;
   font-weight: bold;
   background-color: #ffe7b3;
   border: 1px solid black;
   padding: 15px;
   margin: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
 } 
  

  html, body {
    height: 100%;
  }

.jumbotron {
  background-color: #008CBA;
}

.jumbotron h1 {
  color: white;
}

header {
    background-color: #008CBA;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
  }

  header a {
    text-decoration: none;
    color: white;
  }
  header a:visited { text-decoration: none; }
  header a:hover { text-decoration: none; color:#DEDEDE; }
  header a:focus { text-decoration: none; }
  header a:hover, a:active { text-decoration: none; }


footer {
  display: flex;
  padding: 10px;
  align-items: center;
  border:0px;
  margin: 0px;
  /*width: 100%;*/
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  text-align: center;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  background-color: #DEDEDE;background: linear-gradient(#DEDEDE, #BFBFBF, #999999);
  vertical-align: middle;
  height: auto;
}

.footer-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-message {
  padding: 20px;
    font-size: 18px;
    color: gray;
    font-style: italic;
}
.buttons-basic {
  
  
  width: 150px;
  height: 50px; 
  border: none;
  background-color: #DEDEDE;
  background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
    color: #333;
    border-color: rgba(204, 204, 204, 0.205);
    display: inline-block;
    padding: 6px 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    background-color: #DEDEDE;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #008CBA;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.tab-buttons button {
  /* width:20%;*/
   width: 150px;
   margin: 10px;
   margin-bottom: 0;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   color: white;
   background-color: #008CBA;
   border: 1px solid gray;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   box-shadow: 3px -3px 3px grey;
   outline: none;
}

.tab-buttons button:hover {
background-color: white;
color: black;
}

.tab-buttons button:focus {
   background-color: white;
   color: black;
  }

.tab-buttons {
   position: relative;
}
.tab-buttons:after {
   position: absolute;
   content: "";
   width: 100%;
   bottom: 0;
   left: 0;
   border-bottom: 1px solid #AAA;
   z-index: 1;
 }

 .tab-buttons button:before {
   z-index: 1;
 }
 .tab-buttons button {
   position: relative;
   z-index: 0;
 }
 .tab-buttons button:focus {
   z-index: 2;
   border-bottom-color: #FFF;
 }

.searchbar {
  padding: 20px;
  color: gray;
  font-style: italic;
  font: 12px;
}

.myInput {
  width: 50%;
  border: 1px solid gray;
}

.searchbar button {
  color: white;
  background-color: #006600;
}


/*.button-container a:visited { text-decoration: none; }
.button-container a:hover { text-decoration: none; color:#DEDEDE; }
.button-container a:focus { text-decoration: none; }
.button-container a:hover, a:active { text-decoration: none; }*/

form.searchform input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

/* Style the submit button */
form.searchform button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #006600;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.searchform button:hover {
  background: #0b7dda;
}

/* Clear floats 
form.example::after {
  content: "";
  clear: both;
  display: table;
}*/

.form-group label {
  display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.form-group {
  padding: 15px;
}

.form-control {
  background-color:rgb(250, 255, 189);
}

#parsing-buttons {
  padding:10px;
}

.form-group p {
  font-family: 'Montserrat', sans-serif;
}
 /* .notification {
    transition: all .5s;
    opacity: 0;
  }

  .approved {
    opacity: 1;
    background-color: green;
    padding: 10px;
  }*/

  .hide {
    display:none;
  }

  .modify-user {
    border: 1px solid black; 
    padding: 3px;
    margin: 3px;
    text-align: left;
    background-color: lightgray;
    font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;  
  }

  button.modifyuser, button.approveuser, button.addvisit, button.validatevisit, button.approve {
    background-color: #006600;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
}

  button.deleteuser, button.deletevisit {
    background-color: orangered;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
  }

  button.signup, button.login {
    background-color: #006600;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    width: 25%;
    height: auto;
    font-size: 20px;
  }

  input.submit-visit {
    background-color: #006600;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    width: 25%;
    height: auto;
    font-size: 20px;
  }

  .login-container {
    padding: 15px;
    text-align: left;
  }

  .submit-form-container {
    padding: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }

  .submit-form-container input[type="text"] {
    background-color:rgb(250, 255, 189); 
  }

  .submit-form-container input[type="radio"]{
    /*margin: 0 10px 0 10px;*/
    margin: 0 auto;
    border: 0px;
    width: 6em;
    min-width: 30px;
    height: 1em;
    display: block;
    
  }

  .submit-form-container label {
    text-align: center;
    display: inline-block;    
  }