.pie_container {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    height: 560px;
    position: relative;
    background-color: #333;
    margin: 50px auto;
  }

.parsing-buttons {
    display: flex;
}



.parsing-buttons button {
    width:20%;
    margin: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #008CBA;
    border: 1px solid gray;
    box-shadow: 3px 3px 3px grey;
    outline: none;
}

@media screen and (max-width: 560px) {
    .parsing-buttons button {
        margin: 0px;
        font-size: 10px;
        overflow: hidden;
        padding: 0px;
    }
}

.parsing-buttons button:hover {
    box-shadow: 3px 6px 3px grey;
}

.parsing-buttons button:focus {
    box-shadow: 3px 6px 3px grey;
}

.pie-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.pie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#graph { 
    height: 100%;
    background-color: #fff;
  }
#graph svg {
    width: 80vw !important;
  }
#graph .slice {
    stroke: white;
    stroke-width: 5px;
  }
#graph .slice:hover {
    opacity: .5;
  }
#graph .labels text {
    background-color: #333;
    width: 200px;
  }
  
#adjust {
    display:none;
    outline: transparent;
    padding: 25px 0;
    background-color: #eee;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px 6px #000;
  }

#adjust button {
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    background: #333;
    border: none;
    border-radius: 5px;
    font: 10px "avenir";
    cursor: pointer;
  }

#adjust button:focus {
    outline: none;
  }

#adjust button:hover {
    background: #222;
  }

#adjust input {
    font-size: 18px;
    padding: 10px;
    width: 50px;
    text-align: center;
    color: #30AD63;
  }
  
svg {
    width: 100%;
    height: 100%;
  }
  
path.slice {
    stroke-width: 5px;
  }
  
polyline {
    stroke: #333;
    stroke-width: 1px;
    fill: none;
  }  

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: greenyellow;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
    opacity: 0;
}

#tooltip.hidden {
    opacity: 0;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}